html {
    font-size: 18px;

}


figcaption {
    font-family: Helvetica, sans-serif;
    display: inline-flexbox;

    font-style: italic;
    font-size: 1em;
    text-align: center;
    color: rgb(154, 233, 243);
    text-shadow: 2px 2px #36013F;

}


h1 {


    font-family: 'Quintessential', cursive;
    display: inline-flexbox;
    font-size: 2.2em;
    text-align: center;
    letter-spacing: 3px;

    color: rgb(154, 233, 243);
    text-shadow: 2px 2px #36013F;
    margin-bottom: 0%;

    padding-top: 10px;
    padding-bottom: 10px;
}


  

p {
    text-shadow: 1px 1px #36013F;

    font-size: 0.9em;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: rgb(154, 233, 243);
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: none;
    
}


nav {
    font-family: Helvetica, sans-serif;
    display: flex;
    font-size: 1em;
    justify-content: space-evenly;
    color: rgb(154, 233, 243);
    background-color: #36013F;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 10px

}

.logo {
    height: 55px;
    width: 55px;
    float: left;
    background-color: #36013F;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-top: 10px;
}

h2 {
    position:relative;
    font-family: 'Quintessential', cursive;
    font-size: 1.7em;
    color: rgb(154, 233, 243);
    text-shadow: 2px 2px #36013F;
    text-align: center;
    letter-spacing: 3px;
    
    margin-bottom: none;
    margin-top: none;
}

h3 {
    font-family: Helvetica, sans-serif;
    color: rgb(154, 233, 243);
    display: flex;
    font-size: 1em;
    text-align: center;

    background-color: #36013F;
    letter-spacing: 3px;
}


a {
    
    font-size: 1.1em;
    color: rgb(154, 233, 243);
    padding-top: 10px;
}

body {
    background-image: url("/Applications/Codecademy/flexbox-business-site-starting/resources/css/images/debbie-screenshot-20230227-135955.jpg");
    background-size: cover;
 
}

img {
    display: flex;
    border: 3px solid #36013F;

    background-image: url("resources/css/images/debbie-screenshot-20221202-144600.jpg");
    max-width: 100%;
    height: auto; 

    margin-bottom: 2%;
    
}

.row {
    display: flex;
    background-color: #035458;
    padding: 10px 5px 10px 5px;
    max-width: 100%;
}

.column {
    flex: 33.33%;
    padding: 10px 10px 0px;


}

/* the about section*/

section {
    display: block;
    height: auto;
    width: 100%;
    line-height: 1.4;
    padding-bottom: 30px;
}


.team {
    font-family: 'Quintessential', cursive;
    text-align: center;
    color: rgb(154, 233, 243);
    line-height: 1.4;


}

.sample {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: rgb(154, 233, 243);
    line-height: 1.4;

}


/* Business profile image and text */

.profiles {
    font-size: 1em;
    text-align: center;
}

.row2 {
    display: flex; 
    height: auto; 
    width: 100%;
}


.column2 {
    flex: 33.33%;
    padding: 5px 10px 0px;
}

/* The footer section with logo...*/
.sitefooterBar {
    position:relative;
    background-color: #035458;
    color: rgb(154, 233, 243);

    text-shadow: 1px 1px #36013F;

    bottom: 0;
    padding-top: 10px;
    width:100%;
    height: 60px;

}

.content {
    display: block;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
    width: 300px;
}

.foot {
    display: inline;
    line-height: 1.4;
}




/*@media screen and (minwidth: 480px) {
    .logo {
        
        position:relative;
        padding: 20px 10px 10px 10px;
        width: 70px;
        height: 70px;
    }
}*/


/*@media screen and (maxwidth: 1200px) {
    .logo {

        
        padding: 10px 10px 10px 10px;
        width: 70px;
        height: 70px;
    }
}*/